<div class="login-wrapper">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label for="email">Email</label>
      <input
        id = "email"
        type="email"
        formControlName="email"
        placeholder="you@example.com"
        [class.invalid]="email.invalid && email.touched"      />
      @if (email.invalid && email.touched){
      <span class="error">
        {{email.hasError('required') ? 'Email is required' : 'Enter a valid email'}}
      </span>
      }
    </div>

    <div class="field">
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        formControlName="password"
        placeholder="........"
        [class.invalid]="password.invalid && password.touched"
        />
      @if (password.invalid && password.touched){
      <span class="error">
        {{password.hasError('required') ? 'Password is required' : 'Min 6 Characters'}}
      </span>
      }
    </div>

    @if(errorMessage){
    <div class="api-error">
      {{errorMessage}}
    </div>
    }

    <button type="submit" [disabled]="loading || loginForm.invalid">
      {{loading ? 'Signing in...' : 'Sign in'}}
    </button>
  </form>
</div>
